
.stud{
    height: 700px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: images/200207_London Streets_1_4k_072_preview.webm;
}
.stud h1{
    font-size: 40px;
    font-weight: 700;
margin-top: 235px;

}
header {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  
  @media (pointer: coarse) and (hover: none) {
    header {
      background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
    header video {
      display: none;
    }
  }

  .feed{
    background-color: azure;
  }
  .car{
    background-color: rgb(204, 173, 132);
    color: crimson;
  }
  .car1{
    background-color: rgb(204, 173, 132);
  }
  .car2{
    height: 700px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/cars2.jpg);
  }
  .about{
    color: darkmagenta;
  }
  .about1{
    background-color: darksalmon;
  }
  .he{
    color: deepskyblue;
  }
  .signup{
    background-color: floralwhite;
  }
  .colr{
    color: fuchsia;
  }